*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    background: url('https://raw.githubusercontent.com/P4nm/projetomod2/main/img/bginscr.png'), radial-gradient(rgb(72, 154, 209), rgb(83,35,142));
    background-repeat: no-repeat;
    background-size: contain;
}
main{
    display: flex;
    width: 100%;
    height: auto;
    
}

.cabecalho{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10vh;
}

.p-cabecalho{
    margin-top: -16vh;
    margin-left: .5em;
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

.secao-main{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
    height: 100%;
    width: 60%;
}

.formulario{
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 90%;
    height: auto;
    border-radius: 10px;
    background: floralwhite;
    padding: 15px;
}

.secao1{
    line-height: 2em;
}

.titulo-form{
    font-size: 1.3em;
    font-weight: bolder;
}

.input{
    display: inline-block;
    width: 49%;
    background: floralwhite;
    padding: 10px;
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 1.5em;
    outline: none;
}

#cidade, #bairro{
    width: 42%;
}

#uf{
    width: 13%;
}

#endereco, #email, #senha, #cep{
    width: 100%;
}

#check{
    margin-top: 1.5em;
}

.label-check{
    font-size: .7em;
}

.azul{
    color: blue
}

#botao{
    display: flex;
    width: 40%;
    padding: 13px;
    box-shadow: 1px 2px 4px black;
    border-radius: 30px;
    margin: 1em auto;
    background: rgb(82,35,141);
    color: aliceblue;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-style: none;
}

#botao:hover{
    background: linear-gradient(rgb(254,114,40), rgb(226,56,69));
    width: 80%;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background: rgb(36,79,107);
    color: whitesmoke;
}

